.researchpaper {
  background-color: white;
  border-radius: 5px;
  padding: 3px 10px;
  margin-bottom: 15px;
  color: rgb(65, 62, 62);
  border: 1px solid rgb(201, 197, 197);
}

.researchpaper_heading {
  padding: 8px 0;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}

.researchpaper_detail {
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.researchpaper_detail > a{
  text-decoration: none;
  color: rgb(65, 62, 62);
}

.researchpaper_publication_detail {
  line-height: 6px;
}

.researchpaper_publishier {
  color: rgb(104, 101, 101);
}

.researchpaper_date {
  color: rgb(153, 149, 149);
}

.researchpaper_link {
  border: 1px solid rgb(133, 130, 130);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 8px;
}

.researchpaper_link:hover{
    background-color: lightgray;
    cursor: pointer;
}


.researchpaper_description {
  margin-top: 45px;
  color: rgb(73, 69, 69);
}
